@keyframes frame {
  0% {
    opacity: 1;
  }

  33.333% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.indicator {
  position: absolute;
  top: calc(22.3112% + 40px);
  left: 50%;
  z-index: 30;
  width: 19.9005%;
  height: 6.3482%;
  transform: translate3d(-50%, 0, 0);
  pointer-events: none;
}

.image {
  position: absolute;
  display: block;
  max-width: none;
  opacity: 0;
  animation: frame 600ms steps(1, jump-end) infinite;
  pointer-events: none;
  user-select: none;
}

.image1 {
  top: -3.55%;
  left: -2.46%;
  width: 104.93%;
  height: 105.06%;
}

.image2 {
  top: -2.62%;
  left: -3.3%;
  width: 105.98%;
  height: 91.64%;
  animation-delay: 200ms;
}

.image3 {
  top: -3.6%;
  left: -3%;
  width: 105.58%;
  height: 107.94%;
  animation-delay: 400ms;
}

@media (prefers-reduced-motion: reduce) {
  .image {
    opacity: 0;
    animation: none;
  }

  .image1 {
    opacity: 1;
  }
}
