gigagochi.serega.works {
  encode zstd gzip

  header {
    >Strict-Transport-Security "max-age=31536000; includeSubDomains"
    >X-Content-Type-Options "nosniff"
    >Referrer-Policy "strict-origin-when-cross-origin"
    >Permissions-Policy "camera=(), microphone=(), geolocation=()"
    -X-Powered-By
  }

  handle /api/* {
    reverse_proxy gigagochi-backend:8000
  }

  handle /static/* {
    reverse_proxy gigagochi-backend:8000
  }

  handle /health {
    reverse_proxy gigagochi-backend:8000
  }

  handle {
    reverse_proxy gigagochi-frontend:3000
  }
}
